
@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            console.log("Success!");
        });
    </script>
}

<section class="section-one">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p class="lead">We are a local group of health care professionals offering <strong><em>free</em></strong> referrals for assisted living and 
                other senior care services. We operate from a local level and have a firsthand relationship with all our senior care partners.</p>
            </div>
            <div class="col-xs-12 col-sm-6 text-center"></div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12 col-sm-6">
                <br />
                <p><a class="btn btn-success" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Register</a> &nbsp; &nbsp; <a class="btn btn-default" href="/facility/list"><i class="fa fa-list-ul" aria-hidden="true"></i> View List</a></p>
                <p><small>Register for a free list of our qualified referrals.</small></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-push-1 text-center">
                <h1 class="phone-number"><strong><a href="tel:13218728111">321-872-8111</a></strong></h1>
                <h4>Call our <strong>Senior Care Advisor</strong></h4>
            </div>
        </div>
    </div>
</section>

<section class="section-two">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <h3>About the BSC Group</h3>
                <p class="lead">Our only goal is to help you quickly reduce the stress of finding assisted living and senior care solutions. </p>
                <p class="lead">
                    We find you only qualified senior care communities that match your care needs, budget, location and preferred
                    living environments at <em>no-cost</em> to you. We are paid by our partnered communities only if you move in.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                @*<p><img class="img-placeholder" src="~/content/images/..." alt="" /></p>*@
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5"></div>
            <div class="col-xs-12 col-sm-6 col-md-7"></div>
        </div>
    </div>
</section>

<section class="section-three">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <h3>What Sets Us Apart?</h3>
                <p class="lead"><strong>Fact:</strong> <em>Some national referral agencies don't necessarily visit the facilities they recommend to you</em>.</p>
                <p class="lead">
                    We thoroughly research each facility's history of care for any violations. Once a facility meets our strict criteria and partners
                    with us, we continue to maintain a <em>local</em> and <em>hands-on</em> relationship, continuously monitoring to see if they are providing high
                    quality safety and care.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                @*<p><img class="img-placeholder" src="~/content/images/..." alt="" /></p>*@
            </div>
        </div>
    </div>
</section>
